* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:root{
  --blue-medium: rgba(73, 84, 96, 1);
  --green: rgba(163, 255, 155, 1);
  --purple: rgba(223, 155, 254, 1);
  --yellow: rgba(252, 255, 168, 1);
}

.chatsByTopicWrap {
  color: rgb(51, 51, 51);
  padding: 20px;
  overflow: hidden;
}

.chatsByTopicWrap .menu-container p,
.chatsByTopicWrap .menu-container span,
.chatsByTopicWrap .menu-container h4{
  color: var(--blue-medium);
}


.chatsByTopicWrap li {
  list-style: none; 
}


.chatsByTopicWrap .menu-container {
  width: 100%;
  background: rgb(255, 255, 255);

  border-radius: 10px;
  padding: 20px;

  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
}

.chatsByTopicWrap .menu_page_header h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.chatsByTopicWrap .menu_page_header p {
  font-size: 1rem;
  color: #1E1E1E;
}

.chatsByTopic .menu {
  list-style: none;
}

.chatsByTopic .menu-header {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.2s;
  gap: 12px;
}

.chatsByTopic .subMenu {
  display: none;
  margin-left: 20px;
  list-style: none;
  
  padding-left: 15px;
}

.chatsByTopic .subMenu.active {
  display: block;
}


.chatsByTopic .badge {
  background-color: rgb(240, 242, 245);
  color: rgb(12, 21, 35);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.chatsByTopic .percentage {
  font-size: 12px;
  padding: 13px 6px;
  border-radius: 5px;
  text-align: right;
  font-weight: 600;
  width: 0%;
  transition: width .6s ease;

}

.chatsByTopic .percentage.empresas {
  color: rgb(106, 90, 205);
  background-color: rgb(223, 155, 254);
 
}

.chatsByTopic .percentage.personas {
  color: var(--blue-medium);
  background-color: var(--yellow);

}
.chatsByTopic .percentage.hogar {
  color: rgba(73, 84, 96, 1);
  background-color:rgba(177, 254, 218, 1);

}
.chatsByTopic .percentage.Renovación {
  color: rgba(73, 84, 96, 1);
  background-color:rgba(177, 254, 218, 1);

}
.chatsByTopic .percentage.Siniestros {
  background: rgba(255, 149, 202, 1);
  color: var(--blue-medium);

}
.chatsByTopic .percentage.Asistencias {
  background: rgba(253, 201, 145, 1);
  color: var(--blue-medium);
  
}

.chatsByTopic .percentage.Renovación {
  background: rgba(151, 228, 255, 1);
  color: var(--blue-medium);

}
.chatsByTopic {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-width: 525px;
  overflow: auto;
}
.chatsByTopic .modelItem {
  display: grid;
  border-radius: 8px;
  border-bottom: 1px solid rgb(238, 238, 238);
  grid-template-columns: 190px 1fr;
  width: 100%;
}
.chatsByTopic .modelItem.second {
  border-top: 1px solid rgb(238, 238, 238);
}
.chatsByTopicWrap .menu_page_header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.chatsByTopicWrap h2.navigation_top_title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: inter;
}

.chatsByTopicWrap h2.navigation_top_title span {
  border: 2px solid rgb(255, 136, 125);
  text-transform: uppercase;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 11px;
  color: rgb(255, 136, 125);
  margin-left: 5px;
  line-height: 16px;
}

.chatsByTopicWrap .modelHeader{
  display: grid;
  border: 1px solid rgb(238, 238, 238);
  border-bottom: none;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background: rgb(243, 248, 255);
  grid-template-columns: 190px 1fr;
  width: 100%;
  min-width: 525px;
}

.chatsByTopicWrap .modelHeader h4{
  padding: 1rem;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  
}
.chatsByTopicWrap .modelHeader h4:last-child {
  border-left: 1px solid rgb(238, 238, 238);
  border-top-right-radius: 7px;
}



.chatsByTopic span.section_icon {
  width: 32px;
  background: rgb(102, 119, 129);
  height: 32px;
  padding: 6px;
  display: grid;
  place-items: center;
  border-radius: 8px;
}

.chatsByTopic .area h3 {
  font-size: 15px;
  font-weight: 500;
  display: inline;
  color: rgb(73, 84, 96);
}

.chatsByTopic .counter {
  font-size: 18px;
}
.chatsByTopic .counter {
  font-size: 24px;
  font-weight: 600;
  margin-left: 5px;
  font-family: "Roboto", serif;
  letter-spacing: .25px;
}

.chatsByTopic .area_content {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 8px;
}

.chatsByTopic .area .progress {
  text-align: right;
  padding: 12px 1rem 12px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}


.chatsByTopic .area .progress.yellow {
  background: rgb(255, 229, 137);
  color: var(--blue-medium);
  width: 50%;
}

.chatsByTopic .area .progress.green {
  background: rgba(163, 255, 155, 1);
  color: var(--blue-medium);
  width: 50%;
}

.chatsByTopic .itemsInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatsByTopic .area {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  min-width: 182px;
}

.chatsByTopic .modelMenuWrap h4 {
  border-top-right-radius: 7px;
}

.chatsByTopic .modelHeader h4 {
  border-top-left-radius: 0;
}

.chatsByTopic .modelItem:last-child {
  border-bottom: none;
}

.chatsByTopic .modelMenuWrap {
  border-left: 1px solid rgb(238, 238, 238);
}

.chatsByTopic ul.modelMenuItems li {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.chatsByTopic ul.modelMenuItems li:last-child {
  border-bottom: none;
}

.chatsByTopic .menu-header p {
  font-size: 12px;
  color: var(--blue-medium);
  line-height: 14px;
  padding-right: 5px;
}

.chatsByTopic ul.subMenu li {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(102, 119, 129);
}


.chatsByTopic .subMenu .menu-header {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  color: #667781;
}

.chatsByTopic .subMenu .menu-header::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 11px;
  left: -15px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid rgba(199, 198, 218, 1);
  border-left: 1px solid rgba(199, 198, 218, 1);
  top: 7px;
}

.chatsByTopic .subMenu {
  height: 100%; /* Example height */
  position: relative;
}

.chatsByTopic .subMenu::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px; /* Border width */
  height: calc(100% - 31px); /* Total height minus 50px */
  border-left: 1px solid rgba(199, 198, 218, 1);
}


.chatsByTopicWrap .title_and_balls {
  min-width: 151px;
  display: flex;
  gap: 13px;
  align-items: center;
  flex-wrap: nowrap;
}


.chatsByTopicWrap .modelHeader h4:first-child {
  min-width: 182px;
}



.chatsByTopicWrap .parcentage_bar_wrap {
  position: relative;
  width: 100%; /* Ensures it spans the container */
  height: 37px; /* Adjust height as needed */
  /* background-color: #f3f3f3; */ /* Optional: Add a background track */
  border-radius: 8px;
  overflow: hidden;
}

.chatsByTopicWrap .parcentage_bar_wrap .percentage {
  position: absolute;
  height: 100%;
  background-color: #a29bfe; /* Progress bar color */
  border-radius: 5px;
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}
